<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /blog/
    
    # Se não for um arquivo ou diretório existente, redireciona para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
